**/.*
*.iml
coverage/
examples/
node_modules/
typings/
sandbox/
test/
bower.json
CODE_OF_CONDUCT.md
COLLABORATOR_GUIDE.md
CONTRIBUTING.md
COOKBOOK.md
ECOSYSTEM.md
Gruntfile.js
karma.conf.js
webpack.*.js
sauce_connect.log


.eslintignore
.eslintrc.yaml
.eslintrc
.eslintrc.yml


index.d.ts
UPGRADE_GUIDE.md
/dist/
CHANGELOG.md